In [10]:
import pandas as pd
from datetime import datetime, date, timedelta, timezone
import requests
import json
import time

ticker_list = ['CEL','MATIC','ADA','LINK','LTC','DOT','BCH','AAVE','BNB','UNI','XLM','SOL','EOS','FTT','SRM']

df = pd.DataFrame(columns=['symbol', '1hr change (%)', 'close', 'n_times_std_dev'])
dit_data_list = []
error_ticker = []
error_flag1 = False
error_flag2 = False

for ticker in ticker_list:
    api_endpoint = "https://min-api.cryptocompare.com/data/v2/histohour?fsym={}&tsym=USDT&limit=1000&e=CCCAGG".format(ticker)
    # print(api_endpoint)
    response = requests.get(api_endpoint)
    try:
        response = requests.get(api_endpoint, params={'api_key':'494ca30e3e584ab17b657c27977988f88a1d2d9ba3b5608110054f112abf92c5'})
        assert response.status_code == 200
    except AssertionError: 
        print("API Error, error code: ", response.status_code)
        error_flag1 = True
    else: 
        try: 
            data = response.json()['Data']['Data']
            #print(data)
            #print(response.json())
        except : 
            print(ticker +' symbol does not exist')
            error_flag2 = True
            error_ticker.append(ticker)
        else:        
            data = pd.DataFrame.from_dict(data)
            data['time'] = [datetime.utcfromtimestamp(x).strftime(
                '%Y-%m-%d,%H:%M:%S') for x in data['time']]
            data = data.iloc[::-1].reset_index(drop=True)
            # print(data)
            data['1hr change (%)'] = (data['close']/data['open'] - 1) * 100
            data = data[['time', '1hr change (%)', 'close']]
            data = data.rename(columns={"time": "timestamp"})
            # print(data)
            close = data['close'].iloc[0]
            hr_change = data['1hr change (%)'].iloc[0]
            # print(close, hr_change)
            print(ticker, hr_change)
            dit = {'symbol': ticker,
                'close': close,
                'hr_change (%)': hr_change,

                # Here use 4 time std_dev as metric to mirror mean + 3sd movement

                'n_times_std_dev': 3 * (data['1hr change (%)'].describe()['std'])}
            dit_data_list.append(dit)
print(dit_data_list)


df = df._append(dit_data_list, ignore_index=True, sort=False)
print(df)
df2 = df.loc[(abs(df['hr_change (%)']) >= df['n_times_std_dev'])]
df2 = df2.sort_values('symbol')
print(df2)

CEL -0.15797788309638294
MATIC 0.19698888419867888
ADA 0.0952986022871638
LINK -0.03862495171881308
LTC 0.12705134992059275
DOT 0.15278838808250317
BCH 0.04511709938066488
AAVE 0.14874915483433782
BNB -0.04121841638845547
UNI 1.0599588672678406
XLM 0.5802707930367523
SOL 0.20056157240273542
EOS 0.013297872340434225
FTT -0.2877697841726645
SRM 0.0
[{'symbol': 'CEL', 'close': 0.1896, 'hr_change (%)': -0.15797788309638294, 'n_times_std_dev': 10.002615206817698}, {'symbol': 'MATIC', 'close': 0.7121, 'hr_change (%)': 0.19698888419867888, 'n_times_std_dev': 2.272590383719649}, {'symbol': 'ADA', 'close': 0.3151, 'hr_change (%)': 0.0952986022871638, 'n_times_std_dev': 2.2804483280924495}, {'symbol': 'LINK', 'close': 7.764, 'hr_change (%)': -0.03862495171881308, 'n_times_std_dev': 2.2639830239043435}, {'symbol': 'LTC', 'close': 94.57, 'hr_change (%)': 0.12705134992059275, 'n_times_std_dev': 2.594681099002151}, {'symbol': 'DOT', 'close': 5.244, 'hr_change (%)': 0.15278838808250317, 'n_times_std_dev': 1.7970471213744688}, {'symbol': 'BCH', 'close': 243.92, 'hr_change (%)': 0.04511709938066488, 'n_times_std_dev': 4.674539467913759}, {'symbol': 'AAVE', 'close': 74.06, 'hr_change (%)': 0.14874915483433782, 'n_times_std_dev': 3.1280490183155605}, {'symbol': 'BNB', 'close': 242.51, 'hr_change (%)': -0.04121841638845547, 'n_times_std_dev': 1.3515706324373427}, {'symbol': 'UNI', 'close': 6.388, 'hr_change (%)': 1.0599588672678406, 'n_times_std_dev': 2.275892518958587}, {'symbol': 'XLM', 'close': 0.156, 'hr_change (%)': 0.5802707930367523, 'n_times_std_dev': 3.977015979286749}, {'symbol': 'SOL', 'close': 24.98, 'hr_change (%)': 0.20056157240273542, 'n_times_std_dev': 3.1908187176623874}, {'symbol': 'EOS', 'close': 0.7521, 'hr_change (%)': 0.013297872340434225, 'n_times_std_dev': 2.604541704119055}, {'symbol': 'FTT', 'close': 1.386, 'hr_change (%)': -0.2877697841726645, 'n_times_std_dev': 6.6106007666350965}, {'symbol': 'SRM', 'close': 0.09075, 'hr_change (%)': 0.0, 'n_times_std_dev': 8.146084893510096}]
   symbol 1hr change (%)      close  n_times_std_dev  hr_change (%)
0     CEL            NaN    0.18960        10.002615      -0.157978
1   MATIC            NaN    0.71210         2.272590       0.196989
2     ADA            NaN    0.31510         2.280448       0.095299
3    LINK            NaN    7.76400         2.263983      -0.038625
4     LTC            NaN   94.57000         2.594681       0.127051
5     DOT            NaN    5.24400         1.797047       0.152788
6     BCH            NaN  243.92000         4.674539       0.045117
7    AAVE            NaN   74.06000         3.128049       0.148749
8     BNB            NaN  242.51000         1.351571      -0.041218
9     UNI            NaN    6.38800         2.275893       1.059959
10    XLM            NaN    0.15600         3.977016       0.580271
11    SOL            NaN   24.98000         3.190819       0.200562
12    EOS            NaN    0.75210         2.604542       0.013298
13    FTT            NaN    1.38600         6.610601      -0.287770
14    SRM            NaN    0.09075         8.146085       0.000000
Empty DataFrame
Columns: [symbol, 1hr change (%), close, n_times_std_dev, hr_change (%)]
Index: []

In [6]:
df

   symbol 1hr change (%)     close  n_times_std_dev  hr_change (%)
0     CEL            NaN    0.1651        10.314908       0.242866
1   MATIC            NaN    0.7656         2.928747       0.288184
2     ADA            NaN    0.3147         2.864610       0.222930
3    LINK            NaN    8.1300         2.581299       0.482017
4     LTC            NaN   92.4400         2.821955       0.119138
5     DOT            NaN    5.4990         2.117997      -0.326264
6     BCH            NaN  243.8100         4.778358      -0.016404
7    AAVE            NaN   74.0900         3.311878       0.406559
8     BNB            NaN  243.5000         1.783909       0.082203
9     UNI            NaN    6.1540         2.732310       0.424282
10    XLM            NaN    0.1651         3.880145       0.425791
11    SOL            NaN   25.3300         3.601127       0.277118
12    EOS            NaN    0.7703         3.351822       0.156027
13    FTT            NaN    1.4110         6.845185       0.141945
14    SRM            NaN    0.0972         7.965696       1.950913

In [7]:
# Initialize an empty list
my_list = []

# Assume you have a list of items to append
items_to_append = ['Item 1', 'Item 2', 'Item 3', 'Item 4']

# Append each item to the list
for item in items_to_append:
    my_list.append(item)

# # Join the items with \n to create a single string
# result_string = '\n'.join(my_list)

# # Print the result
# print(result_string)

In [8]:
print(my_list)

['Item 1', 'Item 2', 'Item 3', 'Item 4']